<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10 p-20">
    <h2 class="card-title pb-3">Todas las Notificaciones</h2>
    <ul class="list-unstyled">
        <li class="media pt-2 pb-2" *ngFor="let notification of notifications; let i = index" 
          style="border-bottom: solid 1px rgba(112, 128, 144, 0.377); cursor: pointer;">
            <img class="d-flex mr-3 ml-4 img-circle" [src]="notification.trasmitter.img | imagen" width="60" >
            <div class="media-body row">
              <div class="col-md-8 col-6" (click)="viewNotification(notification)">
                <h4 class="mt-0 mb-1">{{ notification.trasmitter.nombre }}</h4> 
                <p class="mt-0 mb-1"><b>Indicador: </b>{{ notification.title }}</p>
                <p class="mt-0 mb-1">{{ notification.detalle }}</p>
                <div class="row">
                  <span class="time col-md-5">
                      {{ notification.fechaReporte | date: 'medium' }}
                  </span>
                  <span class="time col-md-2 btn btn-primary text-white " *ngIf="!notification.view">
                      New 
                  </span>
                </div>
              </div>
              <div class="col-md-4 col-6">
                <button class="mt-4 btn btn-outline-primary mr-2" 
                (click)="viewNotification(notification)">
                <i class="fa fa-external-link"></i>
                </button>
                <button class="mt-4 btn btn-outline-danger" 
                (click)="deleteNotification(notification)">
                  <i class="fa fa-trash-o"></i>
                </button>
              </div>
            </div>
        </li>

        <!-- Paginación -->
        <div class="row pt-5" style="display: flex;
                                align-items: center;
                                justify-content: center;
                                min-height: 1vh;" *ngIf="totalNotification > 0">
          <nav aria-label="Page navigation example" >
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" (click)="nextPagina(-10, 'PREVIOUS')" aria-label="Previous"
                style="cursor: pointer">
                  <span aria-hidden="true">Anterior</span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link" aria-label="Value">
                  <span aria-hidden="true">
                    {{ desde }} / {{ totalNotification }}
                  </span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link" (click)="nextPagina(10, 'NEXT')" aria-label="Next"
                style="cursor: pointer">
                  <span aria-hidden="true">Siguiente</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>

        <li class="media pt-2 pb-2" *ngIf="totalNotification == 0">
          No hay Ninguna notificación
        </li>

    </ul>
  </div>
  <div class="col-md-1"></div>
</div>